.gamebox {
  display: flex;
  align-items: center;
  height: 100vmin;
  width: 100vw;
  background-image: url(./assets/images/background.png);
  background-size: 100% 100%;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 1vh; */
}

#volume {
  color: greenyellow;
}

#gameOver {
  color: orange;
  font-family: 'Luckiest Guy', cursive;
}

#scoreBox {
  color: orange;
  font-family: 'Luckiest Guy', cursive;
}

.restart {
  color: greenyellow;
}

.backtoMM {
  position: relative;
  color: greenyellow;
  left: -1vw;
}

.endview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  border: 3px solid brown;
}


.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

#gamePause {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#getReady {
  color: green;
  font-family: 'Luckiest Guy', cursive;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.obstacles {
  height: 35vh;
  width: 25vw;
}

#player {
  height: 3vmin;
  width: 3vmin;
}

.navbar-item {
  color: red !important;
}

.score {
  font-family: 'Dancing Script', cursive;
}