.heading {
  font-family: 'Righteous', cursive;
  color: red;
  background-color: black;
  justify-content: center;
}

.playGame {
  color: red;
  justify-content: center;
  padding-top: 2vmin;
}

.instructions {
  color: crimson;
}

.is-horizontal-center {
  justify-content: center;
}