.heading {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: red;
  background-color: black;
  left : 537px;
}

.playGame {
  color: red;
  background-color: black;
  left : 445px;
  top: 30px;
}

.instructions {
  color: crimson;
}

.bird {
  justify-content: center;
}
.is-horizontal-center {
  justify-content: center;
}